.calendar-section {
  display: flex;
  width: 100%;
}

.calendar-section a {
  color: #000 !important;
  text-decoration: none !important;
}
#workbenchPageContent {
  max-width: 100%;
}
.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;
  max-width: 100% !important;
}
.w-100 {
  width: 100%;
}
#myCalendar {
  min-width: calc(100% - 300px);
}
#viewItemModal .modal-header {
  border-bottom: 0;
}
#viewItemModal .modal-footer {
  border-top: 0;
}
.modal-label {
  font-weight: bold;
}
.modal-body {
  padding: 1rem 2rem !important;
}
.modal {
  z-index: 1000000;
}
.fc .fc-popover {
  z-index: 100 !important;
}
/* .color-item.active {
  background: #e1e9ff;
} */
.fc-event-main {
  cursor: pointer !important;
}
.modalDescription {
  word-break: break-word;
}
